*{box-sizing:  border-box;}

/* body{
   background-image: url("../image/colearning1.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */

@keyframes change-bg {
  5% {background-image: url("../image/colearning1.jpg");}
  50% {background-image: url("../image/colearning2.jpg");}
  80% {background-image: url("../image/colearning3.jpg");}
}

body{
  background-image: url("../image/colearning1.jpg");
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  animation-name: change-bg;
  animation-fill-mode: forwards;

  animation-duration: 10s;
  animation-iteration-count: infinite;
}

.btn{
  background-color: rgba(25,18,74,0.8);
  color: white;
  width: 200px;
}



.container{
  background-color: rgba(255,255,255,0.6);
}
